<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiVersion" value="5.2.0.0" />
    <add key="ApiToken" value="" />
    <add key="ApiSecret" value="" />
    <add key="JudoId" value="" />
    <add key="Currency" value="GBP" />
    <add key="BaseUrl" value="https://gw1.judopay-sandbox.com/" />
  </appSettings>
</configuration>